<div id="footerWrap">
  <footer>
    <p class="headerFooterItem">Page Created By Marco Castrita</p>
    <p class="headerFooterItem">Video link: <a herf="">Not availabe</a></p>
    <p class="headerFooterItem">Github link: <a herf="">Not availabe</a></p>
  </footer>
</div>
